.pointer {
  cursor: pointer;
}

.board_frame {
  width: 100%;
  height: 232px;
}

.board_headline {
  width: calc(100% - 128px);
  height: 73px;
  top: 79.5px;
  left: 64px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.headline_text {
  width: 176px;
  height: 73px;
  gap: 1px;
  color: #000000;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.2px;
  position: relative;
}

.frame123 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  width: 504px;
}

.search_task_web {
  display: flex;
  width: 312px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--icon, #a8a8a8);
  background: #fff;
}

.search_task_web:focus-within {
  border: 2px solid #5fc0e9;
}

.frame121 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  height: 32px;
  border: none;
  font-size: 20px;
}

.frame121:focus {
  outline: none;
}

.frame121::placeholder {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 24px;
}

.frame122 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 48px;
  height: 32px;
}

.btn_search:hover {
  background-color: rgb(232, 229, 229);
  border-radius: 50%;
}

.add_task {
  width: auto;
  height: 48px;
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  color: var(--text-btn);
  display: flex;
  align-items: center;
  gap: 4px;
}

.add_task:hover {
  background-color: var(--sub);
  border: 1px solid var(--sub);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.btn_text {
  margin-left: auto;
  margin-right: auto;
}

.column_title {
  width: 100%;
  height: 24px;
  top: 200.5px;
  position: absolute;
  display: flex;
  padding: 0px 64px;
  justify-content: space-between;
  align-items: flex-start;
}

.column_title img:hover {  
  filter: invert(40%) sepia(30%) saturate(1500%) hue-rotate(190deg) brightness(120%) contrast(90%);
}

.frame136,
.frame149,
.frame137,
.frame138 {
  width: 252px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  color: #43526e;
}

.board_distribution {
  width: 100%;
  height: 688px;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#column_todo,
#column_in_progress,
#column_await_feedback,
#column_done {
  width: 252px;
  height: calc(100vh - 328px);
  background-color: lightblue;
  position: relative;
}

.no_tasks_feedback {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px dashed var(--icon, #a8a8a8);
  background: #e7e7e7;
  /* nuevo */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
