.content-contacts section:first-child {
    width: 456px;
    height: 928px;
    top: 96px;
    left: 232px;
    background-color: var(--bg-header);
}

.content-contacts section:first-child button {
    position: fixed;
    width: 352px;
    height: Hug (56px);
    top: 22.5px;
    left: 52px;
    padding: 12px 0px 12px 0px;
    border-radius: 10px;
    border: 1px;
    gap: 16px;
    background-color: var(--bg-button);
}