.header {
  height: 96px;
  width: 1440px;
  position: fixed;
  background-color: var(--bg-header);
  display: flex;
  align-items: center;
  padding-left: 300px;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

#header {
  font-size: 20px;
  line-height: 24px;
  color: var(--headline);
}