body {
    margin: 0;
}

.firstPageContainer{
    display: flex;
    width: 1440px;

    padding: 345px 0px 344.928px 0px;
    justify-content: center;
    align-items: center; 

    background: #F6F7F8; 
}
