/*CSS for sidebar and header */

/*sidebar*/
.sidebar {
    display: flex;
    width: 232px;
    height: 100vh;
    padding: 64px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background: #2A3647;

    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    z-index: 1;
    top: -96px;
}

.sidebar a {
    text-decoration: none;
    color: #D7D9DD;
}

.quicklinks {
    margin-top: 16px;
}

.quicklinks img {
    margin-right: 8px;
}

.quicklinks:hover {
    background-color: #091931;
}

/*sidebar responsive*/




/*header*/

.header {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 20px 40px 20px 348px;
    justify-content: space-between;
    align-items: center;

    background: #FFF;

    /* Barra superior */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}



/*header responsive*/





/*generics*/

.clickable {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}


.paddingR20 {
    padding-right: 20px;
}

.marginT64 {
    margin-top: 64px;
}

.marginT256 {
    margin-top: 256px;
}

.marginL16 {
    margin-left: 16px;
}

.marginR32 {
    margin-right: 32px;
}

.marginL256 {
    margin-left: 256px;
}

.directionColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alignItems {
    display: flex;
    align-items: center;
}