@media(max-width: 910px){
    .content{
        display: flex;

        
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        overflow-y: auto; 
        
        padding-right: 100px;
        padding-bottom: 200px;
       
        padding-top: 50px;
        
        /*fixation*/
        position: absolute;
        left: 130px;
        right: 100px;  
    }
}


@media(max-width: 500px){
    .content{
        /*fixation*/
        position: fixed;
        left: 16px;
        right: 0px;  

        width: 430px;
        overflow-y: scroll; 
    }
}