
:root {
    --radius: calc(10 * 4.5deg);
}

body{
    margin: 0;
}
.container{
    width: 1440px;
    height: 1024px;
    background: #F6F7F8;  
}

.logoBig{
    width: 202px;
    height: 244px;
}


/*Animation */

.desktopScreen{
    background-color: #F6F7F8;
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.mobileScreen{
    background-color: #F6F7F8;
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
}
*/

.logoScreen{
    width: 100%;
    height: 100vh;
    background-color: #2A3D59;
}

.normalScreen{
    width: 100%;
    height: 100vh;
    background-color: #F6F7F8;
}


.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 3s linear;
}


@keyframes fade {

  0%,100% { opacity: 0 }
  100% { opacity: 1 }
}

.startLogo{
    position: absolute;
    top: 25%;
    left: 40%;
}

.animation{
    /*transform: translate(-100%, -50%) rotate(300deg);*/
    /*transition: 5s ease-out;*/
    
    transform: translateX(800px);
    transition: all 500ms ease-in-out;
}







.logIn{
    display: inline-flex;
    padding: 48px 115px;
    flex-direction: column;
    align-items: center;
    gap: 32px; 

    border-radius: 30px;
    background: var(--white, #FFF);
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04); 

    width: 550px;
    height: 50vh;
    /*Fixation*/
    position: fixed;
    top: 30vh;
    left: 22vw;
    
    /*
    top: 265.5px;
    left: 394px;
    bottom: 200px;
    right: 394px;
    */
    
}


.signUp{
    display: inline-flex;
    align-items: center;
    gap: 35px; 

    width: 279px;

    /*Fixation*/
    position: fixed;
    left: 60vw;
    
    /*
    top: 67px;
    left: 1100px;
    bottom: 908px;
    right: 122px;
    */
}

.signUp span{
    color: #000;
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */ 
}

.signupHover:hover rect{
    fill: #29ABE2; 
}

.signupHover:hover svg{
    transform: scale(1.02);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.logoTopLeft{
    width: 100.034px;
    height: 121.966px;
    flex-shrink: 0; 

    /*Fixation*/
    position: fixed;
    
    top: 8vh;
    left: 4vw;
    

    /*
    top: 80px;
    left: 77px;
    bottom: 822.03px;
    right: 1262.97px;
    */
}

.headlineLogIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
    color: #000000;
    width: 430px;

    /*Fixation*/
    position: fixed;
    top: 33vh;
    
    /*
    top: 313.5px;
    left: 562.5px;
    bottom: 621.5px;
    right: 562.5px;
    */
}

#indexContent{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 80px;
}


.headlineLogIn span{
    width: 315px; 

    color: #000;
    text-align: center;
    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */ 
}

.headlineLogIn img{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    stroke-width: 3px;
}

.loginOverview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch; 
    
    /*Fixation*/
    
    /*
    position: fixed;
    top: 434.5px;
    left: 509px;
    bottom: 393.5px;
    right: 509px;
    */

}

.inputsLogin{
    display: flex;
    height: 152px;
    flex-direction: column;
    
    gap: 32px;
    
    /*Fixation*/
    
    position: fixed;
    top: 46vh;
    /*
    top: 434.5px;
    left: 509px;
    bottom: 437.5px;
    right: 509px;
    */
}

.inputsDecoration{
    display: flex;
    
    width: 422px;
    
    padding: 12px 21px;
    align-items: center;
    gap: 10px; 
    cursor: pointer;

    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF; 
}

.changeBorderBlue{
    border: 1px solid var(--Style, #29ABE2)
}

.changeBorderRed{
    border: 1px solid var(--Style, red); 
}

.inputs{
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;  
}

.inputs input{
    border: 0px solid;
    color: var(--Style, #D1D1D1);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    cursor: pointer;
    width: 350px;
    
}

input:focus {
    outline: none;
}

input:not(:placeholder-shown){
    color: black;
}

.inputs img{
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}

.settingsLogin{
    display: flex;
    padding: 0px 241px 0px 39px;
    align-items: center;
    align-self: stretch;


}

.loginMsgBox{
    position: fixed;
    top: 570px;
    left: 510px;
    bottom: 393.5px;
    right: 750px;

    font-size: 12px;
    width: 350px;
    color: red; 
}

.rememberMe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    color: black;
    width: 142px;

    position: fixed;
    
    
    
    /*
    top: 606.5px;
    left: 548px;
    bottom: 393.5px;
    right: 750px
    */
}

.rememberMe span{
    color: #000;
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}


.checkboxBG:hover{
    background-color: #F6F7F8;
}

.buttonsLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 35px;
    width: 100%;

    /*Fixation
    
    position: fixed;
    top: 70vh;
    left: 30vw;
    
    top: 662.5px;
    left: 559px;
    bottom: 313.5px;
    right: 559px
    */
}

.buttonsLogin img{
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.submitButton{
    border: none;
    
}

.mobileLogin{
    display: none;
}

.desktopLogin{
    display: flex;
}


.svgLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    
}


.svgLogin:hover rect{
    fill: #29ABE2;
}

.svgLogin:hover svg{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.svgGuestLogin:hover path {
    fill: #29ABE2;
}

.svgGuestLogin:hover rect {
    stroke: #29ABE2;
}

.svgGuestLogin:hover svg{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    border-color: #29ABE2;
    border-radius: 8px;
}

.signupMobile{
    display: none;
}


.legalPrivacy{
    display: inline-flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    position: fixed;
    bottom: 5vh;
}

.legalPrivacyButton{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border: 0px solid;
    color: var(--icon, #A8A8A8);
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    background: #F6F7F8;
    cursor: pointer; 
}

.legalPrivacyButton:hover{
    transform: scale(1.1);
    color: #29ABE2;
}

.clickable{
    cursor: pointer;
}

.transform:hover{
    transform: scale(1.05);
}

.dNone{
    display: none;
}