.container{
    width: 1440px;
    height: 1024px;
    background: #F6F7F8;  
}

.logIn{
    display: inline-flex;
    padding: 48px 115px;
    flex-direction: column;
    align-items: center;
    gap: 32px; 

    border-radius: 30px;
    background: var(--white, #FFF);
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04); 

    /*Fixation*/
    position: fixed;
    top: 259.5px;
    left: 394px;
    bottom: 259.5px;
    right: 394px
}


.signUp{
    display: inline-flex;
    align-items: center;
    gap: 35px; 

    /*Fixation*/
    position: fixed;
    top: 67px;
    left: 1039px;
    bottom: 908px;
    right: 122px
}

.signUp span{
    color: #000;
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */ 
}

.signUp button{
    display: flex;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px; 

    border-radius: 8px;
    background: #2A3647; 
}

/*TODO Animation */
.logoTopLeft{
    width: 100.034px;
    height: 121.966px;
    flex-shrink: 0; 

    /*Fixation*/
    position: fixed;
    top: 80px;
    left: 77px;
    bottom: 822.03px;
    right: 1262.97px
}

.headlineLogIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
    color: #000000;
}

.headlineLogIn span{
    width: 315px; 

    color: #000;
    text-align: center;
    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */ 
}

.headlineLogIn img{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    stroke-width: 3px;
}

.inputsLogin{
    display: flex;
    height: 152px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
}

.inputsDecoration{
    display: flex;
    width: 422px;
    padding: 12px 21px;
    align-items: center;
    gap: 10px; 
    cursor: pointer;

    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF; 
}

.inputs{
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    
}

.inputs input{
    border: 0px solid;
    color: var(--Style, #D1D1D1);
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    cursor: pointer; 
}

.inputs img{
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}


.settingsLogin{
    display: flex;
    padding: 0px 33px 0px 39px;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    align-self: stretch; 
}

.settingsLoginSpan{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #29ABE2;
    cursor: pointer; 
}

.settingsLoginSpan:hover{
    text-decoration: underline;
}

.rememberMe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    color: black;
}



.buttonsLogin{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px; 
}


.buttonsLogin img{
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}


.legalPrivacy{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px; 

    /*Fixation*/
    position: fixed;
    top: 900px;
    left: 597px;
    bottom: 40px;
    right: 597px;
}

.legalPrivacyButton{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border: 0px solid;
    color: var(--icon, #A8A8A8);
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    background: #F6F7F8;
    cursor: pointer; 
}

.legalPrivacyButton:hover{
    transform: scale(1.1);
    color: #29ABE2;
}