
/*
@media(max-width: 1440px){
    .logIn{
        left: auto;
    }
    
    .signUp{
        left: auto;
    }

    .headlineLogIn{
        left: auto;
    }

    .loginOverview{ 
        left: auto;
    }

    .inputsLogin{
        left: auto;
    }

    .settingsLogin{
        left: auto;
    }

    .loginMsgBox{
        left: auto;
    }

    .rememberMe{
        left: auto;
    }

    .buttonsLogin{
        left: auto;
    }

    .legalPrivacy{
        left: auto;
    }

    .loginMsgBox{
        left: auto;
        right: 578px;
    }
}
*/

/*
@media(max-width: 1150px){
    .logIn{
        left: 80px;
    }
    
    .headlineLogIn{
        
        position: fixed;
        top: 313.5px;
        left: 272.5px;
        
        bottom: 621.5px;
        right: 562.5px;
    }

    .loginOverview{ 
        left: auto;
    }

    .inputsLogin{
     
        position: fixed;
        top: 434.5px;
        left: 219px;
        bottom: 437.5px;
        right: 509px;
    }

    .settingsLogin{
       
        position: fixed;
        top: 606.5px;
        left: 120px;
        bottom: 393.5px;
        right: 750px
    }

    .loginMsgBox{
        position: fixed;
        top: 570px;
        left: 225px;
        bottom: 393.5px;
        right: 750px;
    }

    .rememberMe{
        position: fixed;
        top: 606.5px;
        left: 258px;
        bottom: 393.5px;
        right: 750px
    }

    .buttonsLogin{
    
        
        position: fixed;
        top: 662.5px;
        left: 269px;
        bottom: 313.5px;
        right: 559px
    }

    .legalPrivacy{
       
        position: fixed;
        top: 900px;
        left: 307px;
        bottom: 40px;
        right: 597px;
    }
}
*/

@media(max-width: 900px){
    .logIn{

        width: 500px;
    

        
    }
}



@media(max-width: 800px){
        
    .startLogo{
        position: absolute;
        top: 25%;
        left: 35%;
    }
    
    .logoTopLeft{
        width: 64px;
        height: 78.031px; 


    }
    
    .logIn{
        width: 450px;
        height: 55%;

        /*Fixation*/
        position: fixed;
        top: 22vh;
        left: 20vw;

    }
    
    .headlineLogIn{
        /*Fixation*/
        top: 25vh;
    }

  

    .inputsLogin{
        /*Fixation*/
        position: fixed;
        top: 38vh;

    }

    .inputsDecoration{
        width: 350px;
    }

    .inputs{
        width: 300px;
    }

   

    .loginMsgBox{
        position: fixed;
        top: 500.5px;
        left: auto;
        bottom: 392.5px;
        right: 215px;
    }

    .rememberMe{
        width: 170px;
    }

    #loginCheckboxUnchecked{

        top: -5px;
        left: 0px;
    }
    
    #loginCheckboxChecked{
        
        top: -5px;
        left: 0px;
    }
    
    
    .buttonsLogin{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        
        gap: 21px;
        
        
        position: fixed;
        top: 62vh;

    }
    

    .svgLogin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        
    }

    .mobileLogin{
        display: flex;
    }
    
    .desktopLogin{
        display: none;
    }
 


    .signUp{    
        display: inline-flex;
        justify-content: center;
        position: fixed;
        bottom: 12vh;
        left: 30vw;
    }


}

@media(max-width: 630px){

    #indexContent{
        
        transform: scale(0.8);
        top: -0vh;
        
       
      
    }

    .logIn{
        left: 5vw;
    }
}


/*
@media(max-width: 630px){
     
    .startLogo{
        position: absolute;
        top: 25%;
        left: 25%;
    }

    .logoTopLeft{
        
        position: fixed;
        top: 37px;
        left: 38px;
        bottom: 810.97px;
        right: 326px;
    }
    
    .logIn{
        
        position: fixed;
        top: 206px;
        left: 35px;
        bottom: 206px;
        right: 200px;
    }
    
    .headlineLogIn{
        
        position: fixed;
        top: 237.5px;
        left: 75px;
        bottom: 616.5px;
        right: 240.5px;
    }

    .loginOverview{ 
        
        position: fixed;
        top: 341.5px;
        left: 32px;
        bottom: 432.5px;
        right: 32px;
    }

    .inputsLogin{
        
        position: fixed;
        top: 360.5px;
        left: 60px;
        bottom: 536.5px;
        right: 220px;
    }

    .settingsLogin{
       
        position: fixed;
        top: 509.5px;
        left: 32px;
        bottom: 392.5px;
        right: 69px;
        padding: 0;
    }

    .loginMsgBox{
        position: fixed;
        top: 500.5px;
        left: 65px;
        bottom: 392.5px;
    }

    .rememberMe{
        position: fixed;
        top: 525.5px;
        left: 75px;
        bottom: 392.5px;
        right: 400px;
    }
    
    .buttonsLogin{
        
        position: fixed;
        top: 620.5px;
        left: 150px;
        bottom: 237.5px;
        right: 300px;
    }

    .signUp{    
        position: fixed;
        top: 740px;
        left: 100px;
        bottom: 99px;
        right: 250px;
    }

    .legalPrivacy{
       
        position: fixed;
        top: 869px;
        left: 95px;
        bottom: 22px;
        right: 290px;
    }
}
*/

/*
@media(max-width: 450px){
    .startLogo{
        position: absolute;
        top: 25%;
        left: 15%;
    }


    .logIn{
       
        position: fixed;
        top: 206px;
        left: 16px;
        bottom: 206px;
        right: 16px;
    }
    
    .headlineLogIn{
        
        position: fixed;
        top: 237.5px;
        left: 60px;
        bottom: 616.5px;
        right: 144.5px;
    }

    .loginOverview{ 
        
        position: fixed;
        top: 341.5px;
        left: 32px;
        bottom: 432.5px;
        right: 32px;
    }

    .inputsLogin{
        
        position: fixed;
        top: 360.5px;
        left: 32px;
        bottom: 536.5px;
        right: 32px;
    }

    .settingsLogin{
       
        position: fixed;
        top: 509.5px;
        left: 32px;
        bottom: 392.5px;
        right: 69px;
        padding: 0;
    }

    .loginMsgBox{
        position: fixed;
        top: 500.5px;
        left: 36px;
        bottom: 392.5px;
    }

    .rememberMe{
        position: fixed;
        top: 525.5px;
        left: 50px;
        bottom: 392.5px;
        right: 69px;
    }
    
    .buttonsLogin{
        
        position: fixed;
        top: 620.5px;
        left: 124px;
        bottom: 237.5px;
        right: 124px
    }

    .signUp{    
        position: fixed;
        top: 740px;
        left: 70px;
        bottom: 99px;
        right: 66px;
    }

    .legalPrivacy{
        
        position: fixed;
        top: 869px;
        left: 70px;
        bottom: 22px;
        right: 91px;
    }
}
*/


/*
@media(max-width: 430px){
    .content{
        transform: scale(0.7);
        position: fixed;
        left: 10px;
        top: -70px;
    }

    .signUp{    
        position: fixed;
        top: 800px;
        left: 70px;
        bottom: 99px;
        right: 66px;
    }


}
*/