@media(max-width: 910px) {
    .signUp {
        padding: 5vh 10vw;
        width: 90%;
        height: 60vh;
    }

    .inputs {
        width: 100%;
    }

    .inputsDecoration {
        width: 100%;
    }

    .logoTopLeft {
        width: auto;
        height: 10%;
        position: fixed;
        top: calc(2vh + 61px);
        left: calc(5vw + 50px);
    }

    .arrowBackground {
        left: 5%;
        top: 5%;
    }
}