/*summary CSS*/

/*Section 1*/
.headlineSection{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 

    /*Fixation*/
    position: fixed;
    top: 206px;
    left: 328px;
    bottom: 745px;
    right: 461px;
}

.headlineSummary{
    color: #000;
    /* Version 2/t1 */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */ 

    /*Fixation*/
    position: fixed;
    top: 206px;
    left: 328px;
    bottom: 745px;
    right: 825px;
}

.headlineVector{
    height: 59px; 
    stroke-width: 3px;
    stroke: #29ABE2;
    
    /*Fixation*/
    position: fixed;
    top: 213px;
    left: 645px;
    bottom: 745px;
    right: 795px;
}

.headlineSpan{
    color: #2A3647;
    /* Version 2/t5 */
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
    text-wrap: nowrap; 
    
    /*Fixation*/
    position: fixed;
    top: 226.5px;
    left: 675px;
    bottom: 765.5px;
    right: 461px;
}


/*Section 2*/
.smallCardSection{
    display: flex;
    width: 560px;
    height: 170px;
    padding: 1px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
    
    /*Fixation*/
    position: fixed;
    top: 727px;
    left: 328px;
    bottom: 127px;
    right: 552px
}

.cardSmall{
    display: flex;
    width: 168px;
    height: 168px;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 13px;*/
    flex-shrink: 0; 

    border-radius: 30px;
    background: var(--white, #FFF);
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
}

.cardSmall:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.smallCardSection :hover{
    background-color: #2A3647;
    cursor: pointer;
    
}

.smallCardSection :hover span{
    color: white;
}

.tasksAmount{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 76.8px */ 
}

.tasksSpan{
    color: #2A3647;
    text-align: center;
    /* Version 2/t6 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */ 
}


/*Section 3*/
.largeCardSection{
    
    /*Fixation*/
    position: fixed;
    top: 531px;
    left: 328px;
    bottom: 325px;
    right: 552px
}

.largeCardSection :hover{
    background-color: #2A3647;
    cursor: pointer;
}

.largeCardSection :hover span{
    color: white;
}

.cardLarge{
    display: flex;
    width: 560px;
    height: 168px;
    padding: 28px 48px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    flex-shrink: 0; 

    border-radius: 30px;
    background: var(--white, #FFF);
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 


    /*Fixation*/
    position: fixed;
    top: 531.5px;
    left: 328px;
    bottom: 324.5px;
    right: 552px
}

.cardLarge:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.urgentSection{
    display: flex;
    align-items: center;
    gap: 18px; 
}

.deadlineSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px; 
}

.deadlineSpan{
    color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 25.2px */ 
}

.dateTextSpan{
    color: #2A3647;
    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */ 
}

.greetingSection{
    /*Fixation*/
    position: fixed;
    top: 547.5px;
    left: 968px;
    bottom: 340.5px;
    right: 87px
}



.spanGreeting{
    width: 338px; 
    color: #2A3647;
    /* Version 2/t2 */
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 56.4px */ 
}

.spanName{
    width: 385px;
    color: var(--Ligth-blue, #29ABE2);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */ 
}



/*Section 4*/
.mediumCardSection{
    display: flex;
    width: 560px;
    height: 168px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0; 

    /*Fixation*/
    position: fixed;
    top: 335px;
    left: 328px;
    bottom: 521px;
    right: 552px
}

.mediumCardSection :hover{
    background-color: #2A3647;
    cursor: pointer;
    
}

.mediumCardSection :hover span{
    color: white;
}


.mediumCardSection :hover svg circle{
    fill: white;
}

.svgPen:hover path{
    fill: #2A3647;
}

.svgCheckmark:hover path{
    fill: #2A3647;
}

.cardMedium{
    display: flex;
    width: 264px;
    height: 168px;
    padding: 38px 19px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0; 

    border-radius: 30px;
    background: var(--white, #FFF);
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
}

.cardMedium:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.cardMedium:hover svg path {
    stroke: #2A3647;
}


/*generics Summary */

.flex{
    display: flex;
}
