@media(max-width: 1170px){
    .greetingSection{
        display: none;
    }
}

@media(max-width: 990px){
    .headlineSection{    
        /*Fixation*/
        position: fixed;
        top: 206px;
        left: auto;
        bottom: 745px;
        right: 461px;
    }

    .headlineSummary{
        /*Fixation*/
        position: fixed;
        top: 206px;
        left: auto;
        bottom: 745px;
        right: 377px;
    }

    .headlineVector{
        /*Fixation*/
        position: fixed;
        top: 213px;
        left: auto;
        bottom: 745px;
        right: 343px;
    }

    .headlineSpan{        
        /*Fixation*/
        position: fixed;
        top: 226.5px;
        left: auto;
        bottom: 765.5px;
        right: 14px;
    }

    .mediumCardSection{
        /*Fixation*/
        position: fixed;
        top: 335px;
        left: auto;
        bottom: 521px;
        right: 100px;
    }

    .cardLarge{
        /*Fixation*/
        position: fixed;
        top: 531.5px;
        left: auto;
        bottom: 324.5px;
        right: 100px;
    }

    .smallCardSection{
        /*Fixation*/
        position: fixed;
        top: 727px;
        left: auto;
        bottom: 127px;
        right: 100px;
    }
}

@media(max-width: 910px){
    .content{
        transform: scale(0.8);
        top: -12vh;
        left: auto;
        right: 13vh;
    }
}


@media(max-width: 775px){
    .content{
        transform: scale(0.8);
        right: 7vh;
    }
}


/*Switch to Mobile View*/
@media(max-width: 642px){

    .penMobile{
        display: flex;
    }
    
    .penDesktop{
        display: none;
    }
    
    .checkmarkMobile{
        display: flex;
    }
    
    .checkmarkDesktop{
        display: none;
    }
    
    .headlineVector{
        display: none;
    }


    
    .content {
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        top: -6vh;
        left: auto;
        right: 0vh;
    }
    
    .headlineVectorMobile{
        display: flex;
        position: fixed;
        top: 230px;
        left: auto;
        bottom: 745px;
        right: 400px;
    }


    .spanGreeting{
        /*Fixation*/

        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 40%;
        left: 20%;
        right: auto;
        width: 500px;
    }

    .spanName{
        /*Fixation*/
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 40%;
        left: 10%;
        right: auto;
        width: 600px;
    }

    .headlineSummary{
        color: #000;
        font-family: Inter;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 56.4px */  
    
        /*Fixation*/
        position: fixed;
        top: 128px;
        left: auto;
        bottom: 742px;
        right: 280px;
    }
    

    .headlineSpan{
        color: #2A3647;
        /* Version 2/t6 */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */ 
        text-wrap: nowrap; 
        
        /*Fixation*/
        position: fixed;
        top: 192px;
        left: auto;
        bottom: 710px;
        right: 270px;
    }
    
    /*Section 2*/
    .mediumCardSection{
        display: flex;
        width: 560px;
        height: 168px;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0; 
    
        /*Fixation*/
        position: fixed;
        top: 280px;
        left: auto;
        bottom: 521px;
        right: 35px;
        
    }
    
    .cardMedium{
        display: flex;
        width: 175px;
        height: 100px;
        padding: 38px 19px;
        justify-content: center;
        align-items: center;
        gap: 18px;
        flex-shrink: 0; 
    
        border-radius: 30px;
        background: var(--white, #FFF);
        /* nuevo */
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
    }

    .tasksAmount{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 47px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 56.4px */ 
    }
    
    .tasksSpan{
        color: #2A3647;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        width: 60px; 
    }
    
    
    .cardLarge{
        display: flex;
        width: 390px;
        height: 110px;
        padding: 28px 48px;
        justify-content: center;
        align-items: center;
        gap: 36px;
        flex-shrink: 0; 
    
        border-radius: 30px;
        background: var(--white, #FFF);
        /* nuevo */
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
    
        /*Fixation*/
        position: fixed;
        top: 410px;
        left: auto;
        bottom: 324.5px;
        right: 120px;
    }
    

    .urgentSection{
        display: flex;
        align-items: center;
        gap: 18px; 
    }
    
    .redArrows{
        display: none;
    }

    .redArrowsMobile{
        display: flex;
    }

    .vectorGrey{
        display: none;
    }

    .vectorGreyMobile{
        display: flex;
    }

    .deadlineSection{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;  
    }
    
    .deadlineSpan{
        color: #2A3647;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
        width: 100px; 
    }
    
    .dateTextSpan{
        color: #2A3647;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        width: 130px;  
    }
    
    
    /*Section 4*/
    .smallCardSection{
        display: flex;
        width: 400px;
        height: 170px;
        padding: 1px 0px;
        justify-content: center;
        align-items: flex-start;
        gap: 28px;
        flex-shrink: 0;
        
        /*Fixation*/
        position: fixed;
        top: 550px;
        left: auto;
        bottom: 127px;
        right: 120px;
    }
    
    .cardSmall{
        display: flex;
        width: 110px;
        height: 110px;
        padding: 25px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*gap: 13px;*/
        flex-shrink: 0; 
    
        border-radius: 30px;
        background: var(--white, #FFF);
        /* nuevo */
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);  
    }
}


@media(max-width: 525px){
    
    .headlineSection{
        left: 14px;
    }
    
    .headlineSummary{
        left: 0px;
    }
    
    .headlineVector{
        left: 0px;
    }

    .headlineVectorMobile{
        display: flex;
        left: 0px;
    }
    
    .headlineSpan{        
        left: 0px;
    }
    
 
    .mediumCardSection{
        width: 500px;
        left: -70px;
    }
    
    .cardLarge{    
        left: -10px;
    }
    
   
    .smallCardSection{
        left: -20px;
    }
    
}




@media(max-width: 450px){
    .content{
        transform: scale(0.7);
    }
}


@media(max-width: 375px){
    .content{
        transform: scale(0.7);
        top: -13vh;
        left: auto;
        right: 0vh;
    }
}


