@media (max-width: 1660px) {

  .content_addTask{
    display: flex;
    justify-content: center; 
    align-items: center;   
  }

  #task_form{
    display: flex;    
    flex-direction: column;
    width: calc(100% - 424px);
    top: 206px;
    left: 328px;
    position: fixed;

  }
  .frame40{    
    position: relative;
    top: 0;
    left: 0;
  }

  #addTaskInputForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    overflow-y: auto;
  }

  .addtask_content{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
  }
  
  .frame219{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
  }

  .vector4{
    display: none;
  }
  
  .frame39{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
  }

  .task_title,
  .frame203,
  .frame14,
  .frame14_text,
  .task_description,
  .frame207,
  #frame17,
  #frame17_text,
  .task_assigned_to,
  .frame74,
  .framedue,
  .frame211,
  .frame28,
  .priority,
  .category,
  .subtasks,
  .frame14_subtask,
  #frame14_subtask_text {
    width: 100%;
  }

  label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 910px) {
  .content_addTask{    
    display: flex;    
    justify-content: center;
    align-items: center;    
    left: 0;
    width: 100%;
  }
  #task_form{
    display: flex;
    justify-content: stretch;
    position: relative;
    left: 0;
    top: 36px;
    width: 90%;
  }
}