@media (max-width: 1400px) {

  #sidebar{
    display: none;    
  }

  .content{
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;    
  }

  #task_form{
    display: flex;
    flex-direction: column;    
  }
  .frame40{
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
  }

  #addTaskInputForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    overflow-y: auto;
  }

  .addtask_content{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: relative;
  }
  
  .frame219{
    top: 0;
    left: 0;
    position: relative;
  }

  .vector4{
    display: none;
  }
  
  .frame39{
    top: 0;
    left: 0;
    position: relative;
  }

  .frame35{
    top: 0;
    left: 0;
    position: relative;
  }

  .requiredInfo{
    position: relative;
    top: 0;
    left: 0;
  }

}