@media (max-width: 1400px) {

  .content{    
    display: flex;
    justify-content: center; 
    align-items: center;   
  }

  #task_form{
    display: flex;
    justify-content: center;
    flex-direction: column;    
  }
  .frame40{    
    position: relative;
    top: 0;
    left: 0;
  }

  #addTaskInputForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    overflow-y: auto;
  }

  .addtask_content{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: relative;
  }
  
  .frame219{
    top: 0;
    left: 0;
    position: relative;
  }

  .vector4{
    display: none;
  }
  
  .frame39{
    top: 0;
    left: 0;
    position: relative;
  }

  .frame35{
    top: 0;
    left: 0;
    position: relative;
  }

  .requiredInfo{
    position: relative;
    top: 0;
    left: 0;
  }

}

@media (max-width: 910px) {
  .content{    
    display: flex;    
    justify-content: center;
    align-items: center;    
    left: 0;
    width: 100%;
  }
  #task_form{
    display: flex;
    justify-content: stretch;
  }
}