@media (max-width: 1400px) {
  .board_distribution {
    flex-direction: column;
  }
  .column_title {
    width: 100%;
    height: 250px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #todo,
  #inProgress,
  #awaitFeedback,
  #done{
    flex-direction: row;
    height: auto;
  }
}
