@media (max-width: 1400px) {
  .board_distribution {
    flex-direction: column;
    gap: 16px;
  }
  .column_title {
    width: 100%;    
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #todo,
  #inProgress,
  #awaitFeedback,
  #done{
    flex-direction: row;
    height: auto;
  }
}
