@media (max-width: 1400px) {
  
  .content{
    overflow-y: auto;
  }
  
  .board_distribution {
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin-bottom: 40px;
  }

  .column_title {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .respLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #todo,
  #inProgress,
  #awaitFeedback,
  #done {
    flex-direction: row;
    height: -webkit-fill-available;
    width: 100%;    
    overflow-x: auto;
    padding: 1%;
  }

  .frame136,
  .frame149,
  .frame137,
  .frame138 {
    width: 100%;
  }

  .no_tasks_feedback {
    /* width: 252px; */
    width: 100%;
    margin-bottom: 8px;
  }

  .placeholderCard {
    /* height: 48px !important;
    border-radius: 10px;     */
    display: none;
  }
}

@media (max-width: 1100px) {
  .board_headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .frame123 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    top: 10px;
  }

  .search_task_web {
    width: 100%;
  }

  .buttonText {
    display: none;
  }

  .add_task {
    display: flex;
    justify-content: center;
    width: 44px;
  }
}

@media (max-width: 910px) {
  .content {
    left: 0;
    width: 100%;
  }

  .board_frame{
    position: sticky;
    z-index: 4;
    top: 0;
    background-color: #f5f7f8;
  }
  .board_distribution{
    margin-bottom: 140px;
  }

}