.overlay-bg-editTask {    
  left: 0;
  width: 100%;
  z-index: 5;  
}

.overlay-content-editTask {
  width: 525px;
  padding: 48px 24px;
}

.addtask_content {  
  flex-direction: column;
}

.requiredInfo {
  display: none;
}

input[type='date']::placeholder {
  color: #d1d1d1;
}

.vector4 {
  display: none;
}

.frame40 {
  display: none;
}

.frame39 {  
  top: 0;
  left: 0;
  position: relative;
}

#addTaskClear {
  display: none;
}

#createTaskButton[type='submit'] {
  display: none;
}

#editTaskButton {
  width: auto;
}

.requiredAsterisk {
  display: none;
}

#addTaskInputForm{
  height: 70vh;
  overflow-y: auto;
  margin-top: 8px;
}