input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.d-none {
  display: none !important;
}

.overlay-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 5;
}

.overlay-content {
  position: relative;
  width: 525px;
  /* height: 871px; */
  padding: 48px 40px;
  border-radius: 30px;
  gap: 24px;
  background-color: #fff;
  z-index: 6;
  transition: right 0.3s ease;
  /* Add transition */
}

.slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
  /* 0.3s ist die Dauer der Animation */
}

.slideOut {
  animation: slideOut 0.3s ease-in-out forwards;
  /* 0.3s ist die Dauer der Animation */
}

@keyframes slideIn {
  from {
    right: -100%;
    /* Startposition: rechts außerhalb des Bildschirms */
  }

  to {
    right: 0;
    /* Endposition: in die Mitte des Bildschirms */
  }
}

@keyframes slideOut {
  from {
    right: 0;
    /* Startposition: in der Mitte des Bildschirms */
  }

  to {
    right: -100%;
    /* Endposition: rechts außerhalb des Bildschirms */
  }
}

#overlayTaskContent {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.frame203_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 445px;
  height: 36px;
}

.board_card_task {
  display: flex;
  padding: 4px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  width: auto;
  height: 28px;
}

.board_card_label_task {
  color: #fff;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
  letter-spacing: 0em;
  text-align: left;
  height: 28px;
}

.close-button {
  position: relative;
  top: 48px;
  right: 48px;
}

.frame119_title_task {
  width: 100%;
  height: auto;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  color: black;
}

.frame119_content_task {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.frame179,
.frame178 {
  width: 445px;
  height: 24px;
  gap: 25px;
  display: flex;
}

.frame179_text,
.frame178_text {
  width: 92px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2a3647;
}

.frame179_date,
.frame178_content {
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.frame178 {
  height: 32px !important;
  display: flex;
  align-items: center;
}

.frame178_icon {
  display: flex;
  height: 32px;
  width: 32px;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.frame214 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.frame214_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a3647;
}

.task-contactlist {
  gap: 4px;
}

.task-contactlist-contact {
  width: 445px;
  height: 56px;
  padding: 7px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.frame191 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-badge {
  background-color: #1fd7c1;
  width: 42px;
  height: 42px;
  border-radius: 45px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.profile-name {
  color: #000;
  font-family: Open Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 22.8px */
  height: 23px;
}

.check-button {
  background-color: pink;
  display: flex;
  padding: 7px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
}

.frame215 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.frame215_text {
  color: var(--version-2-main-color, #2a3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  align-self: stretch;
}

.frame204 {
  width: 445px;
  height: 68px;
  gap: 4px;
}

.subtasks-check {
  width: 344px;
  height: 32px;
  padding: 6px 16px;
  gap: 16px;
  display: flex;
  align-items: center;  
}

.subtasks-check:hover{
  background-color: #e1e1e1;
  border-radius: 8px;
}

.subtasks-checkbutton {
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 3px;
}

.subtasks-title{
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: black;
}

.frame20{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 40px;
  bottom: 48px;
}

.delete-task,
.edit-task{
  width: 81px;
  height: 24px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.delete-icon,
.edit-icon{
  height: 24px;
  width: 24px;
}

.delete-text,
.edit-text{  
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;  
  color: #2a3647;
}

.task-vector{
  border: 1px solid #D1D1D1;
  height: 24px;
}