input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.d-none {
  display: none !important;
}

.overlay-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 5;
}

.overlay-content {
  position: relative;
  width: 525px;
  height: 871px;
  padding: 48px 40px;
  border-radius: 30px;
  gap: 24px;
  background-color: #fff;
  z-index: 6;
  transition: right 0.3s ease;
  /* Add transition */
}

.slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
  /* 0.3s ist die Dauer der Animation */
}

.slideOut {
  animation: slideOut 0.3s ease-in-out forwards;
  /* 0.3s ist die Dauer der Animation */
}

@keyframes slideIn {
  from {
    right: -100%;
    /* Startposition: rechts außerhalb des Bildschirms */
  }

  to {
    right: 0;
    /* Endposition: in die Mitte des Bildschirms */
  }
}

@keyframes slideOut {
  from {
    right: 0;
    /* Startposition: in der Mitte des Bildschirms */
  }

  to {
    right: -100%;
    /* Endposition: rechts außerhalb des Bildschirms */
  }
}

.frame203_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 445px;
  height: 36px;
}

.board_card_task {
  display: flex;
  padding: 4px 24px;
  align-items: center;  
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  width: auto;
  height: 28px;
}
.board_card_label_task {
    color: #FFF;    
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 27.6px */    
    letter-spacing: 0em;
    text-align: left;
    height: 28px;
}

.close-button {
  position: absolute;
  top: 48px;
  right: 48px;
}
