
<div class="header">
    <div class="alignItems">
        <span class="headerSpan">Kanban Project Management Tool</span>
    </div>
    <div class="headerSymbols">
        <img src="../assets/img/summary/help.svg" alt="">
        <img onclick="showSubmenu()" class="clickable" src="../assets/img/summary/user_profile_initials.png" alt="">
        <div class="submenu dNone" id="subMenu">
            <a href="">Legal Notice</a>
            <a href="">Privacy Policy</a>
            <a href="">Log out</a>
        </div>
    </div>
</div>