
<div class="header">
    <div class="alignItems">
        <img class="headerLogo dNone" src="../assets/img/summary/logo_header.png" alt="">
        <span class="headerSpan">Kanban Project Management Tool</span>
    </div>

    <div class="headerSymbols">
        <img onclick="openSelectedQuicklink('help')" class="headerHelp clickable" src="../assets/img/summary/help.svg" alt="">
        
        <div onclick="showSubmenu()" class="headerInitialsBG clickable">
            <span id="headerInitials" class="headerInitials"></span>
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="28" cy="28" r="26.5" stroke="#2A3647" stroke-width="3"/>
            </svg>
        </div>
    </div>

    <div class="subMenu dNone" id="subMenu">
        <div class="subMenuSpanContainer">
            <span onclick="openSelectedQuicklink('legal')">Legal Notice</span>
        </div>
        <div class="subMenuSpanContainer">
            <span onclick="openSelectedQuicklink('privacy')">Privacy Policy</span>
        </div>
        <div onclick="logOut()" class="subMenuSpanContainer">
            <span>Log out</span>
        </div>
    </div>
</div>
