<div class="sidebar">
    <div class="center marginT64">
        <img src="/assets/img/logo_light.png" alt="">
    </div>
    <div class="marginT64">
        <div class="center clickable quicklinks">
            <img src="/assets/img/summary/summary_menu.svg" alt="">
            <a href="">Summary</a>
        </div>
        <div class="center clickable quicklinks">
            <img src="/assets/img/summary/addTask_menu.svg" alt="">
            <a href="">Add Task</a>
        </div>
        <div class="center clickable quicklinks paddingR20">
            <img src="/assets/img/summary/board.svg" alt="">
            <a href="">Board</a>
        </div>

        <div class="center clickable quicklinks">
            <img src="/assets/img/summary/contacts_menu.svg" alt="">
            <a href="">Contacts</a>
        </div>
    </div>
    <div class="marginT256">
        <div class="quicklinks clickable center">
            <a href="" >Privacy Policy</a>
        </div>
        <div class="quicklinks clickable center">
            <a href="" >Legal notice</a>
        </div>
          
    </div>
</div>