


<div class="sidebar">
    
    <img src="../assets/img/logo_light.png" alt="">
    
    <div class="quicklinks">
        <div class="clickable quicklinksSpan isActiveColor">
            <img src="../assets/img/summary/summary_menu.svg" alt="">
            <a href="">Summary</a>
        </div>
        <div class="clickable quicklinksSpan">
            <img src="../assets/img/summary/addTask_menu.svg" alt="">
            <a href="">Add Task</a>
        </div>
        <div class="clickable quicklinksSpan">
            <img src="../assets/img/summary/board.svg" alt="">
            <a href="">Board</a>
        </div>

        <div class="clickable quicklinksSpan">
            <img src="../assets/img/summary/contacts_menu.svg" alt="">
            <a href="">Contacts</a>
        </div>
    </div>
    
    <div class="legal">
        <div class="legalSpan quicklinks">
            <a href="" >Privacy Policy</a>
        </div>
        <div class="legalSpan quicklinks">
            <a href="" >Legal notice</a>
        </div>
          
    </div>
</div>