<div class="frame40">Add Task</div>
<div class="d-none" id="temporaryStatus">todo</div>
<div class="d-none" id="prioResult"></div>
<!-- form start -->
<form id="addTaskInputForm" onsubmit="addNewTask(); return false;">
  <div class="addtask_content">
    <div class="frame219">
      <div class="task_title">
        <div class="task_title_text">
          Title<sup class="requiredAsterisk">*</sup>
        </div>
        <div class="frame203">
          <div id="frame14" class="frame14">
            <input required type="text" placeholder="Enter a title" class="pointer" minlength="4" maxlength="30"
              id="frame14_text" onblur="validateField('frame14_text', 'frame14', 'frame14_label')" />
          </div>
          <label id="frame14_label" class="requiredField d-none" for="frame14_text">This field is required</label>
        </div>
      </div>
      <div class="task_description">
        <div class="task_description_text">Description<sup class="requiredAsterisk">*</sup></div>
        <div class="frame207">
          <div id="frame17" class="pointer">
            <textarea required type="text" placeholder="Enter a Description" minlength="4" maxlength="70"
              class="pointer" id="frame17_text"
              onblur="validateField('frame17_text', 'frame17', 'frame17_label')"></textarea>
          </div>
          <label id="frame17_label" class="requiredField d-none" for="frame17_text">This field is required</label>
        </div>
      </div>
      <!-- //TODO - Andino: Hier sollte die Kontaktliste erscheinen -->
      <div class="task_assigned_to">
        <div class="task_assigned_to_text">Assigned To</div>
        <div id="frame74" onclick="userSelection()" class="frame74 pointer">
          <span>Select contacts to assign</span>
          <img src="../../assets/img/add-task/arrow_drop_down.png">
        </div>
        <div id="user_selection-background">
          <div class="d-none custom-scrollbar" id="user_selection"></div>
        </div>
        <div id="selected_user" class="flex m-left-10"></div>
      </div>
      <!-- //TODO - Andino: Hier sollten die Badges der oben ausgewählten Kontakte erscheinen -->
    </div>
    <div class="vector4">
      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="426" viewBox="0 0 2 426" fill="none">
        <path d="M1.24805 1L1.24854 425" stroke="#D1D1D1" stroke-linecap="round" />
      </svg>
    </div>

    <div class="frame39">
      <div class="framedue">
        <div class="frame39_duedate">
          Due date<sup class="requiredAsterisk">*</sup>
        </div>
        <div id="frame211" class="frame211">
          <input id="addtask-duedate" placeholder="2023-10-08" type="date" min="2023-10-04" max="2024-04-20" required
            class="frame14due pointer" onblur="validateField('addtask-duedate', 'addtask-duedate', 'duedate_label')" />
          <label id="duedate_label" class="requiredField d-none" for="addtask-duedate">This field is required</label>
        </div>
      </div>

      <div class="frame28">
        <div class="frame28_text">Prio<sup class="requiredAsterisk">*</sup></div>
        <div id="priority" class="priority">

          <div id="frame24" class="urgent pointer" onclick="selectedRadioButton('Urgent', 'frame24')">
            <input type="radio" value="Urgent" id="Urgent" name="prio" class="radio-urgent pointer"
              required="required" />
            <label class="pointer" for="Urgent">
              Urgent
              <img src="../assets/img/add-task/urgent.svg" alt="" id="imgUrgent" class="pointer">
            </label>
          </div>

          <div id="frame25" class="medium pointer" onclick="selectedRadioButton('Medium', 'frame25')">
            <input type="radio" value="Medium" id="Medium" name="prio" class="radio-medium pointer"
              required="required" />
            <label class="pointer" for="Medium">
              Medium
              <img src="../assets/img/add-task/medium.svg" alt="" id="imgMedium" class="pointer">
            </label>
          </div>

          <div id="frame26" class="low pointer" onclick="selectedRadioButton('Low', 'frame26')">
            <input type="radio" value="Low" id="Low" name="prio" class="radio-low pointer" required="required" />
            <label class="pointer" for="Low">
              Low
              <img src="../assets/img/add-task/low.svg" alt="" id="imgLow" class="pointer">
            </label>
          </div>

        </div>
        <label id="priority_label" class="requiredField d-none" for="priority">This field is required</label>
      </div>

      <!-- //TODO - Hier sollte das Styling der Liste angepasst werden -->
      <div class="category">
        <div class="category_text">Category<sup class="requiredAsterisk">*</sup></div>
        <div id="frame74" class="frame74 pointer">
          <select required name="category_select" id="category_select"
            onblur="validateField('category_select', 'frame74', 'category_select_label')">
            <option value="">Select task category</option>
            <option value="0">HTML + CSS</option>
            <option value="1">JavaScript</option>
            <option value="2">Team</option>
            <option value="3">Meeting</option>
            <option value="4">Angular</option>
          </select>
        </div>
        <label id="category_select_label" class="requiredField d-none" for="category_select">This field is
          required</label>
      </div>

      <div class="subtasks">
        <div class="subtasks_text">Subtasks</div>
        <div id="frame14_subtask" class="frame14_subtask" onblur="subtaskActions()">
          <input type="text" placeholder="Add new subtask" class="pointer" maxlength="30" id="frame14_subtask_text"
            onfocus="subtaskActions('show')" />
          <img id="clearSubtaskInput" onclick="clearInput('frame14_subtask_text')" class="d-none pointer button-hover"
            src="../assets/img/add-task/cancel.svg">
          <img id="subtask-vector" class="d-none" src="../assets/img/add-task/vector.png">
          <img id="addSubtaskInput" onclick="addnewSubtask()" class="d-none pointer button-hover"
            src="../assets/img/add-task/check_black.svg">
        </div>
        <label id="frame14_subtask_label" class="requiredField d-none" for="frame14_subtask_text">Maximum number
          reached</label>
        <div>
          <ul id="subtasklist"></ul>
          <div id="subtaskEdit" class="d-none">
            <input type="text" maxlength="30" id="subtaskEditInput">
            <div id="subtaskEditActions"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame35">
    <div class="frame27">
      <div id="addTaskClear" class="buttons-cancel pointer" onclick="resetForm()">
        Clear
        <img src="../assets/img/add-task/cancel.svg" />
      </div>
      <div id="addTaskCancel" class="buttons-cancel pointer d-none" onclick="closeAddTaskOverlay()">
        Cancel
        <img src="../assets/img/add-task/cancel.svg" />
      </div>
      <button type="submit" class="primary_check_button pointer">
        Create Task
        <img src="../assets/img/add-task/check.svg" />
      </button>
    </div>
  </div>
</form>
<!-- form end -->
<div class="requiredInfo">
  <sup class="requiredAsterisk">*</sup>This field is required
</div>