<div class="addtask_frame">
  <div class="frame40">Add Task</div>
  <div class="addtask_content">
    <div class="frame219">
      <div class="task_title">
        <div class="task_title_text">Title</div>
        <div class="frame203">
          <input required type="text" placeholder="Enter a title" class="frame14">
          <div class="frame14_required">This field is required</div>
        </div>
      </div>
      <div class="task_description">
        <div class="task_description_text">Description</div>
        <div class="frame207">
          <textarea required type="text" placeholder="Enter a Description" class="frame17"></textarea>
          <div class="frame17_required">This field is required</div>
        </div>
      </div>
      <div class="task_assigned_to">Assigned To</div>
    </div>
    <div class="vector4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="426"
        viewBox="0 0 2 426"
        fill="none"
      >
        <path
          d="M1.24805 1L1.24854 425"
          stroke="#D1D1D1"
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="frame39">y</div>
  </div>
  <div class="frame27">
    <button class="secondary pointer">Clear</button>
    <button class="primary_check_button pointer">Create Task</button>
  </div>
</div>
